* {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin-left: 1.66%;
    padding: 20px 0;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 50px auto;
    border: 5px solid #eeeeee;
    width: 160px;
    line-height: 35px;
}

.extra {
    font-weight: 400;
    display: block;
    color: #3f3f3f;
}

.banner-top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2018/11/05/16/10/silhouette-3796368_1280.jpg);
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 1.66%;
}

.banner-info {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

.banner-info h1 {
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 0;
}

.banner-info button {
    cursor: pointer;
    background-color: #fff;
    border-style: none;
    padding: 15px 30px;
    font-size: 18px;
}

img {
    width:30%;
    float:left;
    margin: 1.66%
}

footer p {
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #7e7e7e;
}

footer p a {
    text-decoration: none;
    color: #7e7e7e;
}